*{
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
    }


body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('assets/img/headerimg.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    
}

header {
    background: linear-gradient(to right, #118ab2, #06d6a0, #9d7cbf);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #333; 
}

#hero{
    height: 60vh;
}

.hero-items {
    text-align: left;
    margin-left: 50px;
    margin-top: 300px;
    color: #ffffff; 
    font-size: 1.7em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

.solar-system {
    background-color: rgb(202, 221, 255);
}

.planet-cards {
    padding: 40px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.planet-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.planet-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.4s;
}

.planet-card:hover img {
    transform: scale(1.2);
}

.layer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #4043f0);
    border-radius: 10px;
    opacity: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    transition: opacity 0.9s;
    color: #fff;
}

.planet-card:hover .layer {
    opacity: 1;
}

.planet-link {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.planet-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-out;
}

.planet-link:hover::after {
    width: 100%;
}

.andromeda-section {
    background-color: rgb(202, 221, 255); 
    padding: 10px 0;
    text-align: center;
}

.andromeda-content h2 {
    color: #333;
    font-size: 1.7em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

.andromeda-content img {
    max-width: 100%;
    border-radius: 15px; 
    margin-top: 10px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); 
}

.andromeda-content p {
    color: #333; 
    font-size: 16px; 
    line-height: 1.6;
    margin-top: 10px; 
}

.between {
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 20px;
    font-size: 1.5em;
}
.fun-facts {
    padding: 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 20px;
    color: white;
    text-align: center;
}

.fun-fact-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.fun-fact {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}



.footer {
    background-color: #8a63d2;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer p {
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 15px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 3px rgba(226, 214, 214, 0.8);
}

.icon-text {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.social-icons svg {
    height: 40px;
    width: 40px;
    transition: transform 0.5s, opacity 0.3s;
}

.social-icons a:hover svg {
    transform: scale(1.2);
    opacity: 0.7;
}




